.root {
    /*-fx-background-image: url("/img/colorgradient.gif");*/
    -fx-background-color: #ebebeb;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.alive {
    -fx-background-image: url("/img/cell.jpg");
    -fx-background-size: cover;
    /*-fx-background-color: linear-gradient(#4caf50 25%, #bbdefb 75%, #4caf50 100%);
    -fx-border-color: dimgray;
    -fx-border-width: 0.1;*/
}

.dead {
    -fx-background-color: rgba(7, 10, 25, 0.95);
    -fx-border-color: dimgrey;
    -fx-border-width: 0.1;
}

.step {
    -fx-min-width: 130px;
    -fx-background-color: aliceblue;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.step:hover {
    -fx-min-width: 130px;
    -fx-background-color: lightblue;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.step:pressed{
    -fx-min-width: 130px;
    -fx-background-color: lightblue;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, -1, -1);
}

.stop {
    -fx-min-width: 130px;
    -fx-background-color: indianred;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.stop:hover {
    -fx-min-width: 130px;
    -fx-background-color: darkred;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.stop:pressed {
    -fx-min-width: 130px;
    -fx-background-color: darkred;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, -1, -1);
}

.play {
    -fx-min-width: 130px;
    -fx-background-color: lightgreen;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.play:hover {
    -fx-min-width: 130px;
    -fx-background-color: mediumseagreen;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.play:pressed {
    -fx-min-width: 130px;
    -fx-background-color: mediumseagreen;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, -1, -1);
}

.clear {
    -fx-min-width: 130px;
    -fx-background-color: aliceblue;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.clear:hover {
    -fx-min-width: 130px;
    -fx-background-color: lightblue;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.clear:pressed {
    -fx-min-width: 130px;
    -fx-background-color: lightblue;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, -1, -1);
}

.random {
    -fx-min-width: 290px;
    -fx-min-height: 50px;
    -fx-background-color: aliceblue;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.random:hover {
    -fx-min-width: 290px;
    -fx-min-height: 50px;
    -fx-background-color: lightblue;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.random:pressed {
    -fx-min-width: 290px;
    -fx-min-height: 50px;
    -fx-background-color: lightblue;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, -1, -1);
}

.sizeField {
    -fx-min-width: 290px;
}

.cellField {
    -fx-min-width: 290px;
}

.field {
    -fx-min-width: 290px;
}

.browse {
    -fx-min-width: 290px;
    -fx-min-height: 50px;
    -fx-background-color: aliceblue;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.browse:hover {
    -fx-min-width: 290px;
    -fx-min-height: 50px;
    -fx-background-color: lightblue;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, 1, 1);
}
.browse:pressed {
    -fx-min-width: 290px;
    -fx-min-height: 50px;
    -fx-background-color: lightblue;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #071224, 5, 0.1, -1, -1);
}