.root {
    -fx-fill: white;
}

.alive {
    -fx-background-color: orangered;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.dead {
    -fx-background-color: black;
    -fx-border-color: dimgrey;
    -fx-border-width: 0.1;
}