.root {
    /*-fx-background-image: url("/img/colorgradient.gif");*/
    -fx-background-color: #ebebeb;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.alive {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.dead {
    -fx-background-color: rgba(7, 10, 25, 0.95);
    -fx-border-color: dimgrey;
    -fx-border-width: 0.1;
}